.repository {
  .title {
    padding: 0;
    margin: 0;
  }
  .language {
    background-color: #f1f1f1;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    display: inline-block;
  }
  .licence {
    background-color: #f1f1f1;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    display: inline-block;
    margin-left: 0.5rem;
  }
  .description {
    margin-top: 5px;
  }
  .html {
    background-color: #e34c26;
    color: white;
  }
  .c {
    background-color: #555555;
    color: white;
  }
  .go {
    background-color: #00ADD8;
    color: white;
  }
  .javascript {
    background-color: #f1e05a;
    color: white;
  }
  .game-maker-language {
    background-color: #71b417;
    color: white;
  }
}