---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
		<ul class="post-list">
    {% comment %}
    *
    *  This loop loops through all public repositories
    *  and sorts it by the front matter variable `updated_at` 
    *  and than filters the collection with `reverse` in reverse order
    *
    {% endcomment %}
    {% assign sorted = site.github.public_repositories | sort: 'updated_at' | reverse %}
  	{% for repository in sorted %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ repository.updated_at | date: date_format }}</span>
        <h3>
          <a class="post-link no-tooltip" href="{{ repository.html_url }}">
            {{ repository.name | escape }}
          </a>
        </h3>
        {{ repository.description }}
      </li>
		{% endfor %}
    </ul>	
    {{ content }}
  </div>

</article>
